// Common
.brand-image {
  max-width: 34px;
}

.user-profile-image {
  width: 2.1rem;
  height: auto;
}

// Sidebar
@media (max-width: 576px) {
  body.sidebar-open {
    .main-sidebar {
      width: 100%;

      button.close {
        color: white;
        padding: 0.8125rem 1.5rem;
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }
}

.sidebar {
  .nav-sidebar {
    .nav-link {
      &.router-link-active {
        background-color: #3f51b5;
        color: #fff;
      }
    }
  }
}

// Prepared text styles
.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-green {
  color: $green;
}

.text-purple {
  color: $purple;
}

.text-yellow {
  color: $yellow;
}

// Style buttons as links
.btn.btn-link.btn-as-link {
  padding: 0;
  border: 0;
}

// Default SVG user image styles
.user-profile-image-main {
  width: 84px;
  height: 84px;
  margin: auto;
}
