// Common
.brand-image {
  max-width: 34px;
}

.user-profile-image {
  width: 2.1rem;
  height: auto;
}

// Sidebar
.sidebar {
  .nav-sidebar {
    .nav-link {
      &.router-link-active {
        background-color: #3f51b5;
        color: #fff;
      }
    }
  }
}

// Prepared text styles
.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-green {
  color: $green;
}

.text-purple {
  color: $purple;
}

.text-yellow {
  color: $yellow;
}
